@model AltudoBtc1.Project.Altudo.Models.LeadershipDetails

<div>
    @Model.Name
</div>
<div>
    @Model.Designation
</div>
<div>
    @Model.ContactNumber
</div>
<div>
    @Model.ProfileBrief
</div>
<div>
    @Model.ProfilePicture
</div>
<div>
    <a href="@Model.SuggestedArticleUrl">@Model.SuggestedArticleText</a>
</div>