<h1>@Html.Sitecore().Field("Title")</h1>
<span>@Html.Sitecore().Field("PublishDateTime")</span>
<h3>@Html.Sitecore().Field("BriefNote")</h3>
<p>@Html.Sitecore().Field("DetailedBlog")</p>
<div>@Html.Sitecore().Field("RelevantImage")</div>

