@model AltudoBtc1.Feature.DetailPage.Models.Review


@using (Html.BeginForm()) {
    <div>
        @Html.LabelFor(x => x.Name)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        @Html.LabelFor(x => x.EmailId)
    </div>
    <div>
        @Html.TextBoxFor(x => x.EmailId)
    </div>
    <div>
        @Html.LabelFor(x => x.Rating)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Rating)
    </div>
    <div>
        @Html.LabelFor(x => x.ReviewComments)
    </div>
    <div>
        @Html.TextBoxFor(x => x.ReviewComments)
    </div>

    <input type="submit" value="Submit" /> 
}
